{% extends "base.html" %} {%block title %}Home{%endblock%} {% block content %}


<html>

<body>
  {%include "uploader.html"%}


  {%if usinas%}

  <h1> Gerar reporte</h1>

  <form id="actionform" onsubmit="get_usina_id()" method="POST" enctype="multipart/form-data">
    <!-- <input type="text" list="usina" id="new_usina" name="usina" /> -->
    <label>Selecione a usina: </label>
    <select id="usina" name="usina" onchange="updateSelected(event)">

      {%for value in usinas %}
      <option value="{{value.id}}" id="{{value.name}}">{{value.name}}</option>
      {% endfor %}
    </select>
    <input type="submit" />
  </form>


  {%endif%}

  <!-- <div id="possible_inverters">
    <select id="inverter" name="inverter">
      {%for value in interters %}
      <option value="{{value.name}}" id="{{value.name}}">{{ value.name }}</option>
      {% endfor %}
    </select>
  </div> -->


</body>

</html>


<script>
  function updateSelected(event) {
    console.log("Selecting usina", event.target.value)
    var form = document.getElementById('actionform')
    //var usina_id = document.getElementById('symbol').value
    var action_src = "http://localhost:5000/report/" + event.target.value

    form.action = action_src;

  }
</script>


<script language="javascript" type="text/javascript">
  function get_usina_id() {
    var form = document.getElementById('actionform')

    console.log("Sending request to  usina", form.action)


  }
</script>
{% endblock %}